<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Simple Background Picker</title>

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/picker.css">


    </head>
    <body>
        <section>
            <ul>
                <li id="id1" class="profession">Mesmer</li>
                <li id="id2" class="profession">Guardian</li>
                <li id="id3" class="profession">Necromancer</li>
                <li id="id4" class="profession">Ranger</li>
                <li id="id5" class="profession">Elementalist</li>
                <li id="id6" class="profession">Warrior</li>
                <li id="id7" class="profession">Thief</li>
                <li id="id8" class="profession">Engineer</li>
                <li id="id9" class="profession">Revenant</li>
            </ul>
        </section>
        <button id="id10">Click</button>

        <script type="text/javascript" src="js/picker.js"></script>
    </body>
</html>
