/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

section, div{
  display: flex;
  flex-direction: column;
}

div{
  flex-direction: row;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

#result{
  flex-basis: 10px;
  border: 1px solid black;
}