/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

header{
  width: 100%;
  height: 5vh;
  float: left;
  background: black;
}

ul {
  list-style: none;
}

li{
  float: left;
}

a{
  text-decoration: none;
  color: white;
  border-right: 1px solid white;
  padding-right: 5vh;
}

section{
  width: 100%;
  height: 40vh;
  margin-bottom: 5vh;
  float: left;
}

/******************************************
/* LAYOUT
/*******************************************/

.mainArticle{
  clear: both;
  width: 48%;
  height: 100%;
  border: 1px solid red;
  float: left;
  margin-right: 1%;
  margin-left: 1%;
}

.linkArticle{
  width: 23%;
  height: 49%;
  border: 1px solid blue;
  margin-left: 1%;
  margin-bottom: 1%;
  float: left;
}

.subArticle{
  width: 33.333%;
  height: 100%;
  border: 1px solid green;

  float:left;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h4{
  float: left;
  border: 3px solid pink;
}

h4+h4{
  border: 3px solid purple;
  float: right;
}