/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

/******************************************
/* LAYOUT
/*******************************************/

body, html{
     height: 100%;
}

header, section, footer {
     border: 1px solid black;
}

section {
     border-color: red;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (orientation: portrait) {

     section{
          float: left;
          clear: both;
          width: 100%;
          height: 75%;
     }

     header, footer{
          height: 25%;
          clear:both;
     }

}

@media screen and (orientation: landscape) {
     section{
          float: left;
          width: 33.3333%;
          height: 50%;
     }
     
     header, footer{
          height: 25%;
          clear:both;
     }
}

